@using LiquorStoreFinalProject.ViewModels;
@model HomeVM

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Creative Agency || Creative Agency Bootstrap4 Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon.ico">

    <!-- CSS
    ============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/fontawesome.css">
    <link rel="stylesheet" href="~/assets/css/vendor/lightbox.css">
    <link rel="stylesheet" href="~/assets/css/plugins/plugins.css">
    <link rel="stylesheet" href="~/assets/css/style.css">

</head>

<body>
    <div class="main-page">

        <div id="my_switcher" class="my_switcher">
            <ul>
                <li>
                    <a href="javascript: void(0);" data-theme="light" class="setColor light">
                        <img src="~/assets/images/about/sun-01.svg" alt="Sun images"><span title="Light Mode"> Light</span>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);" data-theme="dark" class="setColor dark">
                        <img src="~/assets/images/about/vector.svg" alt="Vector Images"><span title="Dark Mode"> Dark</span>
                    </a>
                </li>
            </ul>
        </div>
        <main class="page-wrapper">

            <!-- Start Slider Area  -->
            <div style="background-color:black" class="rn-slider-area slider-creative-agency">
                <!-- Start Single Slide  -->
                <div class="slide slide-style-2 slider-paralax d-flex align-items-center justify-content-center paralx-slider parallax" data-stellar-background-ratio="0.5" style="background-image:url('~/assets/images/bg/paralax/bg-image-3-overlay.jpg');">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="inner text-center">
                                    <span></span>
                                    <h1 class="title theme-gradient">Hesabist</h1>
                                    <p class="description">
                                        There are many variations of passages of Lorem Ipsum
                                        available but the majority have suffered alteration.
                                    </p>
                                    <div class="slide-btn">
                                        <a class="rn-button-style--2 btn-primary-color" href="contact.html">
                                            Əlaqə
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Slide  -->
            </div>

            <!-- Start Service Area  -->
            <div class="rn-service-area rn-section-gap bg_color--1">
                <div class="container">
                    <div class="row mt_dec--30">
                        <!-- Start Single Service  -->
                        @foreach (var category in Model.Categories)
                        {

                            <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
                                <div class="single-service service__style--2 bg-color-gray">
                                    <a href="@Url.Action("FilterProductsByCategory", "Products", new { categoryId = category.Id })">
                                        <div class="service">
                                            <div class="icon">
                                                <i data-feather="cast"></i>
                                            </div>
                                            <div class="content">
                                                <h3  class="title">@category.Name</h3>
                                                <p>
                                                    I throw myself down among the tall grass by the stream as I lie close to
                                                    the earth.
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                        <!-- End Single Service  -->
                    </div>
                </div>
            </div>
            <!-- Start Service Area  -->
            <!-- Start Portfolio Area  -->
            <div class="rn-portfolio-area rn-section-gap bg_color--5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="section-title section-title--2 text-start mb--20">
                                <h2 class="title">Ən sevilənlər</h2>
                                <p>
                                    Sizlərin ən sevdiyi və ən çox aldığı məhsullar
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row rn-slick-activation rn-slick-dot mt--10" data-slick-options='{
                        "spaceBetween": 15,
                        "slidesToShow": 3,
                        "slidesToScroll": 1,
                        "arrows": false,
                        "infinite": true,
                        "dots": true
                    }' data-slick-responsive='[
                    {"breakpoint":890, "settings": {"slidesToShow": 3}},
                    {"breakpoint":770, "settings": {"slidesToShow": 2}},
                    {"breakpoint":490, "settings": {"slidesToShow": 1}}
                    ]'>

                        <!-- Start Single Portfolio  -->
                        @foreach (var product in Model.Products)
                        {

                            <div class="portfolio mt--30 mb--20">
                                <div class="thumbnail-inner">
                                    <img class="thumbnail image-2" src='@Url.Content($"~/{product.ImageURL}")'>
                                    <img class="bg-blr-image image-2" src='@Url.Content($"~/{product.ImageURL}")'>
                                </div>
                                <div class="content">
                                    <div class="inner">
                                        <p>@product.Category.Name</p>
                                        <h4><a href="portfolio-details.html">@product.Name</a></h4>
                                        <div class="portfolio-button">
                                            <a class="rn-btn" href="@Url.Action("ProductDetails", "Products", new { id = product.Id })">Ətraflı</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <!-- End Single Portfolio  -->
                    </div>
                </div>
            </div>
            <!-- End Portfolio Area  -->
            <!-- Start countreupup Area  -->
            @*<div class="rn-countreupup-area rn-section-gap bg_color--1">
            <div class="container">
            <div class="row">
            <div class="col-lg-12">
            <div class="section-single-title text-center">
            <h3 class="fontWeight500">Our Fun Facts</h3>
            </div>
            </div>
            </div>
            <div class="row">
            <!-- Start Single Counterup  -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <div class="rn-counterup counterup_style--1">
            <h5 class="counter count">992</h5>
            <p class="description">
            The standard chunk of Lorem Ipsum used since the 1500s is
            reproduced below for those.
            </p>
            </div>
            </div>
            <!-- Start Single Counterup  -->
            <!-- Start Single Counterup  -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <div class="rn-counterup counterup_style--1">
            <h5 class="counter count">575</h5>
            <p class="description">
            The standard chunk of Lorem Ipsum used since the 1500s is
            reproduced below for those.
            </p>
            </div>
            </div>
            <!-- Start Single Counterup  -->
            <!-- Start Single Counterup  -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <div class="rn-counterup counterup_style--1">
            <h5 class="counter count">69</h5>
            <p class="description">
            The standard chunk of Lorem Ipsum used since the 1500s is
            reproduced below for those.
            </p>
            </div>
            </div>
            <!-- Start Single Counterup  -->
            </div>
            </div>
            </div>*@
            <!-- Start countreupup Area  -->
            <!-- Start team Area  -->
            @* <div class="rn-team-area rn-section-gap bg_color--5">
            <div class="container">
            <div class="row">
            <div class="col-lg-6">
            <div class="section-title section-title--2  text-start mb--30">
            <h2 class="title">Skilled Team</h2>
            <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have
            suffered alteration.
            </p>
            </div>
            </div>
            </div>
            <div class="row">
            <!-- Start Single Team Area  -->
            <div class="col-lg-4 col-md-6 col-12">
            <div class="team">
            <div class="thumbnail">
            <img src="~/assets/images/team/team-01.jpg" alt="Team Images" />
            </div>
            <div class="content">
            <h4 class="title">Jone Due</h4>
            <p class="designation">Sr. Web Developer</p>
            </div>
            <ul class="social-icon">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
            </ul>
            </div>
            </div>
            <!-- End Single Team Area  -->
            <!-- Start Single Team Area  -->
            <div class="col-lg-4 col-md-6 col-12">
            <div class="team">
            <div class="thumbnail">
            <img src="~/assets/images/team/team-02.jpg" alt="Team Images" />
            </div>
            <div class="content">
            <h4 class="title">Jone Due</h4>
            <p class="designation">Sr. Web Developer</p>
            </div>
            <ul class="social-icon">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
            </ul>
            </div>
            </div>
            <!-- End Single Team Area  -->
            <!-- Start Single Team Area  -->
            <div class="col-lg-4 col-md-6 col-12">
            <div class="team">
            <div class="thumbnail">
            <img src="~/assets/images/team/team-03.jpg" alt="Team Images" />
            </div>
            <div class="content">
            <h4 class="title">Jone Due</h4>
            <p class="designation">Sr. Web Developer</p>
            </div>
            <ul class="social-icon">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
            </ul>
            </div>
            </div>
            <!-- End Single Team Area  -->
            <!-- Start Single Team Area  -->
            <div class="col-lg-4 col-md-6 col-12">
            <div class="team">
            <div class="thumbnail">
            <img src="~/assets/images/team/team-01.jpg" alt="Team Images" />
            </div>
            <div class="content">
            <h4 class="title">Jone Due</h4>
            <p class="designation">Sr. Web Developer</p>
            </div>
            <ul class="social-icon">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
            </ul>
            </div>
            </div>
            <!-- End Single Team Area  -->
            <!-- Start Single Team Area  -->
            <div class="col-lg-4 col-md-6 col-12">
            <div class="team">
            <div class="thumbnail">
            <img src="~/assets/images/team/team-02.jpg" alt="Team Images" />
            </div>
            <div class="content">
            <h4 class="title">Jone Due</h4>
            <p class="designation">Sr. Web Developer</p>
            </div>
            <ul class="social-icon">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
            </ul>
            </div>
            </div>
            <!-- End Single Team Area  -->
            <!-- Start Single Team Area  -->
            <div class="col-lg-4 col-md-6 col-12">
            <div class="team">
            <div class="thumbnail">
            <img src="~/assets/images/team/team-03.jpg" alt="Team Images" />
            </div>
            <div class="content">
            <h4 class="title">Jone Due</h4>
            <p class="designation">Sr. Web Developer</p>
            </div>
            <ul class="social-icon">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
            </ul>
            </div>
            </div>
            <!-- End Single Team Area  -->

            </div>
            </div>
            </div>*@
            <!-- Start team Area  -->
        </main>
        <!-- End Page Wrapper  -->
        <!-- Start Footer Style Two  -->
        <div class="footer-style-2 ptb--30 bg_image bg_image--1" data-black-overlay="6">
            <div class="wrapper plr--50 plr_sm--20">
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="inner">
                            <div class="logo text-center text-sm-start mb_sm--20">
                                <a href="#">
                                    <img src="~/assets/images/logo/logo.png" alt="Logo images" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="inner text-center">
                            <ul class="social-share rn-lg-size d-flex justify-content-center liststyle">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-skype"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                        <div class="inner text-lg-end text-center mt_md--20 mt_sm--20">
                            <div class="text">
                                <p>Copyright © 2022 Rainbow-Themes. All Rights Reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Style Two  -->
    </div>

    <!-- JS
    ============================================ -->
    <!-- Modernizer JS -->
    <script src="~/assets/js/vendor/modernizr.min.js"></script>
    <!-- jQuery JS -->
    <script src="~/assets/js/vendor/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/assets/js/vendor/bootstrap.min.js"></script>
    <script src="~/assets/js/vendor/stellar.js"></script>
    <script src="~/assets/js/vendor/particles.js"></script>
    <script src="~/assets/js/vendor/masonry.js"></script>
    <script src="~/assets/js/vendor/stickysidebar.js"></script>
    <script src="~/assets/js/plugins/plugins.js"></script>
    <script src="~/assets/js/vendor/js.cookie.js"></script>
    <script src="~/assets/js/vendor/jquery.style.switcher.js"></script>
    <script src="~/assets/js/vendor/jquery-one-page-nav.js"></script>
    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>


</body>

</html>