﻿﻿@using LiquorStoreFinalProject.ViewModels;
@model IEnumerable<BasketVM>
@{
    Layout = null;
}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Basket</title>
    <link rel="stylesheet" href="~/assets/css/styleBasket.css">
</head>

<body>
    <main>
        <div class="basket">
        <a href="/">Back to Main Page</a>

            <div class="basket-labels">
                <ul>
                    <li class="item item-heading">Item</li>
                    <li class="price">Qiymət</li>
                    <li class="quantity">Miqdar</li>
                    <li class="subtotal">Toplam Qiymət</li>
                </ul>
            </div>
            @if (!Model.Any())
            {
                <h1>Basket is empty</h1>
            }
            else
            {
                decimal totalPrice = 0;
                @foreach (var item in Model)
                {
                    decimal totalProductPrice = item.Count * @item.Price;
                    totalPrice += totalProductPrice;
                    <div class="basket-product">
                        <div class="item">
                            <div class="product-image">
                                <img src='@Url.Content($"~/{item.ImageURL}")' alt="Placholder Image 2" class="product-frame">
                            </div>
                            <div class="product-details">
                                <h1><strong>@*<span class="item-quantity">4</span>*@ @item.Name</strong> Lace Sleeve Cuff Dress</h1>

                            </div>
                        </div>
                        <div class="price">@item.Price</div>
                        <div class="quantity">
                            <input type="number" value="@Convert.ToInt32(item.Count)" min="1" class="quantity-field">
                        </div>
                        <div class="subtotal">@totalProductPrice</div>
                        <div class="remove">
                            <a style="background-color: transparent;color: #777;float: none; text-decoration: underline;text-transform: uppercase;" href="/Basket/RemoveFromBasket/@item.Id">Remove</a>
                        </div>
                    </div>
                }
            }
        </div>
        <aside>
            <div class="summary">
                <div class="summary-total-items"><span class="total-items"></span> Səbət Detalları</div>
                <div class="summary-subtotal">
                    <div class="subtotal-title">Ümumi</div>
                    <div class="subtotal-value final-value" id="basket-subtotal">@ViewBag.TotalPrice</div>
                    <div class="summary-promo hide">
                        <div class="promo-title">Promotion</div>
                        <div class="promo-value final-value" id="basket-promo">150.00</div>
                    </div>
                </div>



                <div class="summary-total">
                    <div class="total-title">Toplam</div>
                    <div class="total-value final-value" id="basket-total">@ViewBag.TotalPrice</div>
                </div>

                <div style="display: flex; justify-content: space-between;" class="summary-total">
                    <input style="width: 7.5rem" id="promo-code" type="text" name="promo-code" maxlength="5" class="promo-code-field" placeholder="Endirim Kodu">
                    <button class="promo-code-cta">Tətbiq et</button>
                </div>

                <div class="summary-checkout">
                    <button class="checkout-cta">Sifarişi Tamamla</button>
                </div>
            </div>
        </aside>
    </main>
</body>

</html>