﻿﻿@using LiquorStoreFinalProject.ViewModels;
@model IEnumerable<BasketVM>
@{
    Layout = null;
}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Basket</title>
    <link rel="stylesheet" href="~/assets/css/styleBasket.css">
</head>

<body>
    <div class="wrap cf">
        <h1 class="projTitle">Responsive Table<span>-Less</span> Shopping Cart</h1>
        <div class="heading cf">
            <h1>My Cart</h1>
            <a href="#" class="continue">Continue Shopping</a>
        </div>
        <div class="cart">
            <!--    <ul class="tableHead">
                  <li class="prodHeader">Product</li>
                  <li>Quantity</li>
                  <li>Total</li>
                   <li>Remove</li>
                </ul>-->
            @if (!Model.Any())
            {
                <h1>Basket is empty</h1>
            }
            else
            {
                decimal totalPrice = 0;

                foreach (var item in Model)
                {
                    decimal totalProductPrice = item.Count * @item.Price;
                    totalPrice += totalProductPrice;

                    <ul class="cartWrap">


                        <li class="items odd">

                            <div class="infoWrap">
                                <div class="cartSection">
                                    <img src='@Url.Content($"~/{item.ImageURL}")' alt="Placholder Image 2" class="itemImg">
                                    <p class="itemNumber">Film</p>
                                    <h3>@item.Name</h3>

                                    <p> <input type="text" class="qty" placeholder="@Convert.ToInt32(item.Count)" /> x @item.Price</p>

                                    <p class="stockStatus"> In Stock</p>
                                </div>


                                <div class="prodTotal cartSection">
                                    <p>@totalProductPrice</p>
                                </div>
                                <div class="cartSection removeWrap">
                                    <a href="/Basket/RemoveFromBasket/@item.Id" class="remove">x</a>
                                </div>
                            </div>
                        </li>


                        @* <li class="items even">

                <div class="infoWrap">
                <div class="cartSection">

                <img src="http://lorempixel.com/output/technics-q-c-300-300-4.jpg" alt="" class="itemImg" />
                <p class="itemNumber">#QUE-007544-002</p>
                <h3>Item Name 1</h3>

                <p> <input type="text" class="qty" placeholder="3" /> x $5.00</p>

                <p class="stockStatus"> In Stock</p>
                </div>


                <div class="prodTotal cartSection">
                <p>$15.00</p>
                </div>
                <div class="cartSection removeWrap">
                <a href="#" class="remove">x</a>
                </div>
                </div>
                </li>*@

                        @*<li class="items odd">
                <div class="infoWrap">
                <div class="cartSection">

                <img src="http://lorempixel.com/output/technics-q-c-300-300-4.jpg" alt="" class="itemImg" />
                <p class="itemNumber">#QUE-007544-002</p>
                <h3>Item Name 1</h3>

                <p> <input type="text" class="qty" placeholder="3" /> x $5.00</p>

                <p class="stockStatus out"> Out of Stock</p>
                </div>


                <div class="prodTotal cartSection">
                <p>$15.00</p>
                </div>
                <div class="cartSection removeWrap">
                <a href="#" class="remove">x</a>
                </div>
                </div>
                </li>
                <li class="items even">
                <div class="infoWrap">
                <div class="cartSection info">

                <img src="http://lorempixel.com/output/technics-q-c-300-300-4.jpg" alt="" class="itemImg" />
                <p class="itemNumber">#QUE-007544-002</p>
                <h3>Item Name 1</h3>

                <p> <input type="text" class="qty" placeholder="3" /> x $5.00</p>

                <p class="stockStatus"> In Stock</p>

                </div>


                <div class="prodTotal cartSection">
                <p>$15.00</p>
                </div>

                <div class="cartSection removeWrap">
                <a href="#" class="remove">x</a>
                </div>
                </div>
                <div class="special"><div class="specialContent">Free gift with purchase!, gift wrap, etc!!</div></div>
                </li>*@


                        <!--<li class="items even">Item 2</li>-->

                    </ul>

                }

            }
        </div>

        <div class="promoCode">
            <label for="promo">Have A Promo Code?</label><input type="text" name="promo" placholder="Enter Code" />
            <a href="#" class="btn"></a>
        </div>

        <div class="subtotal cf">
            <ul>
                <li class="totalRow"><span class="label">Subtotal</span><span class="value">$35.00</span></li>

                <li class="totalRow"><span class="label">Shipping</span><span class="value">$5.00</span></li>

                <li class="totalRow"><span class="label">Tax</span><span class="value">$4.00</span></li>
                <li class="totalRow final"><span class="label">Total</span><span class="value">@ViewBag.TotalPrice</span></li>
                <li class="totalRow" id="checkoutButton"><a href="#" class="btn continue">Checkout</a></li>
            </ul>
        </div>

        @*Popup*@

        <div class="popup" id="popup">
            <div class="popup-content">
                <span class="close" id="close">&times;</span>
                <div class="code-container">
                    <p class="code-label">Sifariş Kodu</p>
                    <div class="code-wrapper">
                        <span id="randomCode" class="random-code"></span>
                        <button id="copyButton" class="copy-button">Kopyala</button>
                    </div>
                </div>
                <div class="center-bottom">
                    <button id="acceptButton" class="modern-button">Accept</button>
                </div>
            </div>
        </div>
        <div class="popup" id="secondPopup">
            <div class="popup-content">
                <span class="close" id="closeSecond">&times;</span>
                <div class="content">
                    <p>Zəhmət olmasa sifarişə Whatsap üzərindən davam edin.</p>
                    <p>Kopyaladığınız kodu Mesaj olaraq bizə göndərin.</p>
                    <a href="https://wa.me/+994519910859" class="whatsapp-button" style="background-color: green; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none; display: inline-block;">
                        WhatsApp'a Yönlendir
                    </a>

                </div>
            </div>
        </div>

    </div>
</body>

<script>
    document.getElementById("checkoutButton").onclick = function () {
        var popup = document.getElementById("popup");
        var randomCode = generateRandomCode();
        document.getElementById("randomCode").innerText = randomCode;
        popup.style.display = "block";
    }

    document.getElementById("close").onclick = function () {
        document.getElementById("popup").style.display = "none";
    }

    window.onclick = function (event) {
        if (event.target == document.getElementById("popup")) {
            document.getElementById("popup").style.display = "none";
        }
    }

    function generateRandomCode() {
        var result = '';
        var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        var charactersLength = characters.length;
        for (var i = 0; i < 8; i++) {
            result += characters.charAt(Math.floor(Math.random() * charactersLength));
        }
        return result;
    }

    document.getElementById("copyButton").onclick = function () {
        var randomCode = document.getElementById("randomCode").innerText;
        var tempInput = document.createElement("input");
        tempInput.value = randomCode;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand("copy");
        document.body.removeChild(tempInput);

        var copyButton = document.getElementById("copyButton");
        copyButton.style.backgroundColor = "#4CAF50"; // Yeşil renk
        copyButton.innerText = "Kopyalandı";
        setTimeout(function () {
            copyButton.style.backgroundColor = ""; // Varsayılan renk
            copyButton.innerText = "Kopyala";
        }, 2000); // 2 saniye sonra butonu eski haline getir
    }


</script>
<script>
    document.getElementById("acceptButton").addEventListener("click", function () {
        document.getElementById("popup").style.display = "none";
        document.getElementById("secondPopup").style.display = "block";

        var randomCode = document.getElementById("randomCode").innerText;
        var totalPrice = document.getElementById("basket-total").innerText;
        var products = [];

        var productElements = document.querySelectorAll(".basket-product");
        productElements.forEach(function (productElement) {
            var productName = productElement.querySelector(".product-details h1 strong").innerText;
            var productQuantity = productElement.querySelector(".quantity-field").value;
            var productPrice = productElement.querySelector(".price").innerText;

            var product = {
                Name: productName,
                Quantity: productQuantity,
                Price: productPrice
            };

            products.push(product);
        });

        var requestData = {
            RandomCode: randomCode,
            Products: products,
            TotalPrice: totalPrice
        };

        requestData.Products.forEach(function (product) {
            product.Quantity = parseInt(product.Quantity);
            product.Price = parseFloat(product.Price);
        });

        $.ajax({
            url: "/Order/CompleteOrder",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(requestData),
            success: function (response) {
                console.log("Response" + response);
                console.log("İstek başarıyla tamamlandı.");
            },
            error: function (xhr, status, error) {
                console.error("İstek hatayla sonuçlandı:", error);
            }
        }); 
    });

    document.getElementById("closeSecond").addEventListener("click", function () {
        document.getElementById("secondPopup").style.display = "none";
    });

    window.addEventListener("click", function (event) {
        if (event.target == document.getElementById("secondPopup")) {
            document.getElementById("secondPopup").style.display = "none";
        }
    });


</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</html>l>